@font-face {
    font-family: "kaseiDecol-Regular";
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "NanumMyeongjo";
    src: url("../../public/font/NanumMyeongjo-Regular.ttf") format("truetype");
}

.header-container {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgba(58, 58, 58, 0.55);
    box-sizing: border-box;
    z-index: 1;
    justify-content:space-between;
    padding: 24px 30px;
    top: 0;
    transition: background-color 0.3s ease;
}

.header-section {
    font-family: 'kaseiDecol-Regular';
    font-size: 25px;
    font-weight: 400px;
    gap: 10px; 
}

.info2-text-1 {
    font-family: "kaiseiDecol-Regular";
    color: #9F8383;
}

.header-right {
    display: flex;
    font-family: "kaiseiDecol-Regular";
    gap: 39px;
}

.header-container.mypage-banner {
    background-color: rgba(58, 58, 58, 1);
}
.header-section a {
    text-decoration: none;
    color: #9F8383;
}

.header-section a.active {
    color: white;
    text-decoration: none;
  }

